body {
    background-color: #003333;
    overflow-x: hidden;
    width: 100;
}

p, h2 {
    color: #f5f6fa

}

p {
	color: #fff;
    background-color: #006666;
    border-radius: 3pt;
    font-size: 18pt;
    border: 3px #001a1a solid;
    width: 50%;
}

button {
  color: #001a1a;
  width: 10%;
  height: 20%;
  background-color: #009999;
  border-color: #009999;
}

#count {
	text-align: center;
	font-size: 22pt;
}