body {
    background-color: #003333;
    overflow-x: hidden;
    width: 100;
}

p, h2 ,h1 {
    color: #fff;
}

* {
	font-family: "Verdana";
}
p {
	color: #fff;
    background-color: #006666;
    border-radius: 3pt;
    font-size: 18pt;
    border: 3px #001a1a solid;
    width: 50%;
	margin-left:20px;
	padding: 10px 10px 10px 10px;
}

button, input {
	color: #001a1a;
	width: 16%;
	height: 30%;
	font-size: 14pt;
	background-color: #009999;
 	border-color: #009999;
	margin-left:20px;
}

input {
	background-color: white;
}

#count {
	text-align: center;
	font-size: 22pt;
}